<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/8203961616.js" crossorigin="anonymous"></script>
    <title>Bienvenidxs a MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <span class="input">Buscar productos, marcas y más</span>
                <span class="submit"><i class="fa fa-search"></i></span>
                <span><i class="fas fa-hand-holding-usd"  font-size= 10px;></i>Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        <nav>
            <div>
                <ul>
                    <li><a href="#"> Ofertas </a></li>
                    <li><a href="#"> Tiendas Oficiales </a></li>
                    <li><a href="#"> Vender </a></li>
                    <li><a href="#"> Ayuda </a></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <form  method="get" class="create-form">
            <div>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre"required>
            </div>
            <div>
                <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>
            </div>
            <div>
                <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de Usuario" required>
            </div>
            <div>
                <label>Fecha de Nacimiento</label>
                <input type="date" name="fechaNacimiento" id="fechaNacimiento" required>
            </div>
            <div>
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required >
            </div>
            <div class="perfilUsuario"> <!--En radio se pone required en una opción-->
                <label for="perfilUsuario" >Perfil de Usuario:</label>
                <input type="radio" name="perfilUsuario" id="perfilUsuario" required>Comprar
                <input type="radio" name="perfilUsuario" id="perfilUsuario">Vender   
            </div>
            <div>
                <label class="categorias">Categorias de Interés:
                    <div>
                    <label> <input type="checkbox" name="interes" value="elec">Electro</label>
	                <label> <input type="checkbox" name="interes" value="moda">Moda</label>
	                <label> <input type="checkbox" name="interes" value="hogar">Hogar</label>
	                <label> <input type="checkbox" name="interes" value="juguet">Jugueteria</label>
	                <label> <input type="checkbox" name="interes" value="vidaSana">Vida Sana</label>
                </div>
                </label>
                <div>
                    <label>Foto de Usuario</label>
                    <input type="file" name="fotoUsuario" id="fotoUsuario" required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div>
                    <input type="password" name="check_password" id="check_password" placeholder="Confirmar Password" required>
                </div>
                <div>
                        <button type="submit" value="Guardar y volver al Home"><a href="/">Enviar y volver al Home</a></button>
                
                </div>

                <div>
                        <input type="reset" value="Borrar">
                </div>
            </div>
        </form>
    </main>
</body>
</html>